/*Here starts the header*/

.h1 {
    font-family: 'Tilt Prism', cursive;
    background-image: url(afbeelding/vlieland.jpg);
    background-size: cover;
    background-position: 50% 25%;
    height: 200px;
    display: flex;
    justify-content: center;
    font-size: x-large;
}

/*here starts the body*/

body {
    margin: 0;
    background-color:cadetblue;
}
[class*="col-"] {
   width: 100%;
}
@media only screen and (min-width: 768px) {
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
}
.weet {
    background-color:cadetblue;
    padding: 3% 0%;
}
li {
    padding: 10px;
    margin-bottom: 5px;
    background-color:darkcyan;
    border-radius: 5px;
    color: white;
}
.attr {
    background-color:cadetblue ;
    min-height: 40%;
    padding: 3% 0%;
    height: 100%;
    
}
.attr img {
    float: right;
    width: 50%;
    padding: 3%;
}
.toerist {
    background-color: darkcyan;
    padding: 3% 3%;
    border-radius: 5%;
    margin: 3% 3%;
}

/*here starts the footer */

footer {
    background-color: darkcyan;
    padding: 3%;
    clear: left;
}
